header nav {
    height: 40px;
    background-color: #efefee;
    border-bottom: 1px solid lightgray;
    width: 100%;
    position: fixed;
}

nav ul {
    list-style: none;
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 5px;
    font-size: 18px;
}

li a {
    color: purple;
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo:hover{
    text-decoration: underline;
}

form {
    padding-top: 100px
}

form label {
    display: block;
}

form input {
    border: 1px solid #DFE0DE;
    border-radius: 3px;
    padding: 5px;
    width: 400px;
}

.search{
    display: inline;
}

.mag {
    border: 1px solid #DFE0DE;
    display: inline-block;
    height: 25px;
    border-radius: 3px;
}

.mag img {
    height: 25px;
    border-radius: 3px;
}

section {
    padding-top: 45px;
}

section ul {
    list-style: none;
    padding-left: 0px;
}

section ul li {
    margin-bottom: 25px;
    color: #989898;
}

.post{
    font-weight: 600;
    color: blue;
}

.post:hover {
    text-decoration: underline;
}

main {
    margin-left: 75px;
}

.pagination {
    display: inline-block;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #DFE0DE;
    border-radius: 3px;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination span {
    border-left: 1px solid #DFE0DE;
    border-right: 1px solid #DFE0DE;
    padding: 10px; /*ensure padding matches parent*/
    padding-left: 20px;
    padding-right: 20px;
}

.prev,
.next {
    padding: 5px;
}

.prev::before {
    content: '< ';
}

.next::after {
    content: ' >';
}

ul li .post {
    padding: 0 12px 0 12px;
}